.git
.gitignore
.github
.vscode
.env
.env.local
.env*.local

node_modules
dist
coverage

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
Thumbs.db

*.md
!README.md

tests
.vitest
*.spec.ts
*.spec.tsx

public/*.map
